<h1>Docusign Account List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Account Id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.username %></td>
        <td><%= account.email %></td>
        <td><%= account.external_id %></td>
        <td><%= link_to 'Destroy', delete_account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4", class="text-center"><%= link_to 'Register Account', accounts_new_path %></td>
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <%= paginate @accounts %>
  <%= page_entries_info @accounts %>
</div>

<br>
