<p id="notice"><%= notice %></p>

<h3>Criterium: <span class="small"><%= @criterium.to_s %></span> </h3>
<hr>
<p>
  <strong>Role</strong>
  <%= @criterium.role %>
</p>

<p>
  <strong>Role Count</strong>
  <%= @criterium.count %>
</p>

<%= link_to 'Edit', edit_criterium_path(@criterium) %> |
<%= link_to 'Back', get_back_path %>
