<p id="notice"><%= notice %></p>

<p>
  <strong>Role</strong>
  <%= @criterium.role %>
</p>

<p>
  <strong>Count</strong>
  <%= @criterium.count %>
</p>

<%= link_to 'Edit', edit_criterium_path(@criterium) %> |
<%= link_to 'Back', criteria_path %>
