<p id="notice"><%= notice %></p>

<h3>Crit&eacute;rio: <span class="small"><%= @criterium.to_s %></span> </h3>
<hr>
<p>
  <strong>Cargo</strong>
  <%= @criterium.role %>
</p>

<p>
  <strong>Quantidade</strong>
  <%= @criterium.count %>
</p>

<%= link_to 'Atualizar', edit_criterium_path(@criterium) %> |
<%= link_to 'voltar', get_back_path %>
