<h1>Employment List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Role</th>
      <th>Contact</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td><%= employment.company %></td>
        <td><%= employment.role %></td>
        <td><%= employment.contact %></td>
        <td><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="text-center"><%= link_to 'New Employment', new_employment_path %></td>
    </tr>
  </tfoot>
</table>

<br>


