<h1>Signat&aacute;rios</h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-offset-8 col-sm-4">
      <form action="" method="get">
        <div class="input-group">
          <input type="text" name="named" class="form-control">
          <span class='input-group-btn'>
            <button type="submit" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </form>    
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Detalhes', contact %></td>
        <td><%= link_to 'Atualizar', edit_contact_path(contact) %></td>
        <td><%= link_to 'Excluir', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" class="text-center"><%= link_to 'Novo Signatário', new_contact_path %></td>
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <%= paginate @contacts %>
  <%= page_entries_info @contacts %>
</div>
  
<br>


