<p id="notice"><%= notice %></p>

<h3>Contact: <span class="small"><%= @contact.to_s %></span></h3>
<hr>
<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>
<hr>
<h4>Employments:</h4>
<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>   
    <% @employments.each do |employment| %>
    <tr>
      <td><%= employment.company %></td>
      <td><%= employment.role %></td>
      <td><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3", class="text-center"><%= link_to 'New Employment', new_employment_path( build_contact_params ) %></td>      
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <%= paginate @employments %>
  <%= page_entries_info @employments %>
</div>

<br>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
