<p id="notice"><%= notice %></p>

<h3>Signatário: <span class="small"><%= @contact.to_s %></span></h3>
<hr>
<p>
  <strong>Nome:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Atualizar', edit_contact_path(@contact) %> |
<%= link_to 'Voltar', contacts_path %>
