<p id="notice"><%= notice %></p>

<h3>Company: <span class="small"><%= @company.to_s %></span></h3>
<hr>
<p>
  <h4>
    <strong>Name:</strong>
    <%= @company.name %>  
  </h4>
</p>

<h4>Employments:</h4>

<table class="table">
  <thead>
    <tr>
      <th>Role</th>
      <th>Contact</th>
      <th></th>
    </tr>
  </thead>
  <tbody>   
    <% @employments.each do |employment| %>
    <tr>
      <td><%= employment.role %></td>
      <td><%= employment.contact %></td>
      <td><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3", class="text-center"><%= link_to 'New Employment', new_employment_path( build_company_params ) %></td>      
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <%= paginate @employments %>
  <%= page_entries_info @employments %>
</div>
<br>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
