<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id, 'Company:' %>
    <%= f.collection_select :company_id, get_companies, :id, :to_s, selected: get_selected_company(@category) %>    
  </div>
  <div class="field">
    <%= f.label :datatype, 'Tab/Field Type:' %>
    <%= f.select :datatype, get_datatypes, selected: get_selected_datatype(@category) %>        
  </div>  
  <div class="field">
    <%= f.label :tab_name, 'Tab/Field Name:' %>
    <%= f.text_field :tab_name %>    
  </div>
  <div class="field">
    <%= f.label :operation, 'Operation:' %>
    <%= f.select :operation, get_operations, selected: get_selected_operation(@category) %>
  </div>
  <div class="field">
    <%= f.label :tab_value, 'Tab/Field Param:' %>
    <%= f.text_field :tab_value %>
  </div>
  <div class="field">
    <%= f.label :code, 'Category Code:' %>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :priority, 'Priority:' %>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :parent_id, 'Parent Category:' %>
    <%= f.collection_select :parent_id, get_categories, :id, :to_s, selected: get_selected_category(@category), include_blank: true  %>
  </div>
  <div class="action">
    <%= f.submit %>    
  </div>
<% end %>
