<p id="notice"><%= notice %></p>

<h1>Classificadores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Tipo de Classificador</th>      
      <th>Classificador</th>
      <th>Opera&ccedil;&atilde;o</th>
      <th>Parâmetro</th>
      <th>Classe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.company %></td>
        <td><%= category.datatype_string %></td>
        <td><%= category.tab_name %></td>
        <td><%= category.operation_string %></td>
        <td><%= category.tab_value %></td>
        <td><%= category.code %></td>      
        <td><%= link_to 'Detalhes', category %></td>
        <td><%= link_to 'Atualizar', edit_category_path(category) %></td>
        <td><%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9" class="text-center"><%= link_to 'Novo Classificador', new_category_path %></td>
    </tr>
  </tfoot>
</table>


