<p id="notice"><%= notice %></p>

<h1>Classificadores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Classificador</th>
      <th>Classe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <% combined_categories = category.combined_strings %>
      <% if combined_categories.empty? %>
        <tr>
          <td><%= category.company %></td>
          <td><%= category.to_s %></td>
          <td><%= category.code %></td>      
          <td><%= link_to 'Detalhes', category %></td>
          <td><%= link_to 'Atualizar', edit_category_path(category) %></td>
          <td><%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% else %>
        <% count = combined_categories.size %>
        <% first = combined_categories.shift %>
        <tr>
          <td rowspan="<%=count%>"><%= category.company %></td>
          <td><%= first[0] %></td>
          <td><%= first[1] %></td>      
          <td rowspan="<%=count%>"><%= link_to 'Detalhes', category %></td>
          <td rowspan="<%=count%>"><%= link_to 'Atualizar', edit_category_path(category) %></td>
          <td rowspan="<%=count%>"><%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% combined_categories.each do |combination| %>
          <tr>
            <td><%= combination[0] %></td>
            <td><%= combination[1] %></td>
          </tr>
        <% end %>    
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9" class="text-center"><%= link_to 'Novo Classificador', new_category_path %></td>
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <%= paginate @categories %>
  <%= page_entries_info @categories %>
</div>


