<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rule_set, 'Classe de Regras' %>
    <%= f.collection_select :rule_set_id, get_rule_sets, :id, :code, :selected => get_selected_rule_set(@rule) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
