<h1>Rule List</h1>

<table>
  <thead>
    <tr>
      <th>Rule</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.to_s %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center"><%= link_to 'New Rule', new_rule_path %></td>
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <%= pagination @rules %>
  <%= page_entries_info @rules %>
</div>

<br>

