<p id="notice"><%= notice %></p>
<h3>Regra: <span class="small"><%= @rule.to_s %></span></h3>
<hr>
<p>
  <strong>Criteria:</strong>
  <table class="table">
    <thead>
      <tr>
        <th>Criterium</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @criteria.each do |criterium| %>
      <tr>
        <td><%= criterium %></td>
        <td><%= link_to 'Edit', edit_criterium_path( build_rule_params criterium ) %></td>
        <td><%= link_to 'Destroy', criterium_url( build_rule_params criterium ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-center"><%= link_to 'New Criterium', new_criterium_path( build_rule_params ) %></td>      
      </tr>
    </tfoot>
  </table>
  <div class="text-right">
    <%= paginate @criteria %>
    <%= page_entries_info @criteria %>
  </div>     
</p>

<%= link_to 'Back', get_back_path %>
