<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Rule</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @rule.criteria.each do |criterium| %>
    <tr>
      <td><%= criterium %></td>
      <td><%= link_to 'Edit', edit_criterium_path( build_rule_params criterium ) %></td>
      <td><%= link_to 'Destroy', criterium_url( build_rule_params criterium ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><%= link_to 'Add Criterium', new_criterium_path( build_rule_params ) %></td>      
    </tr>
  </tfoot>
</table>

<%= link_to 'Back', get_back_path %>
