<h1>Classes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Classe</th>
      <th>Regra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rule_sets.each do |rule_set| %>
      <tr>
        <td><%= rule_set.code %></td>
        <td><%= rule_set.to_s %></td>
        <td><%= link_to 'Detalhes', rule_set %></td>
        <td><%= link_to 'Atualizar', edit_rule_set_path(rule_set) %></td>
        <td><%= link_to 'Excluir', rule_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5", class="text-center"><%= link_to 'Nova Classe de Regras', new_rule_set_path %></td>
    </tr>
  </tfoot>
</table>

<br>


