<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <%= link_to "DS Flow", root_path, id: 'logo' %>
    <nav>
      <ul class='navbar navbar-nav navbar-right'>
        <li><%= link_to "Home", root_path %></li>
        <li class="dropdown">
          &nbsp;&nbsp;&nbsp;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Contact <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New", new_contact_path %></li>                        
            <li><%= link_to "List", contacts_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          &nbsp;&nbsp;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Roles<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New", new_role_path %></li>                        
            <li><%= link_to "List", roles_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          &nbsp;&nbsp;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Companies <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New", new_company_path %></li>                        
            <li><%= link_to "List", companies_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          &nbsp;&nbsp;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Categories <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New", new_category_path %></li>                        
            <li><%= link_to "List", categories_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          &nbsp;&nbsp;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Rule Sets <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New", new_rule_set_path %></li>                        
            <li><%= link_to "List", rule_sets_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          &nbsp;&nbsp;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Ds Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Register", accounts_new_path %></li>                        
            <li><%= link_to "List", accounts_path %></li>
          </ul>
        </li>
      </ul>      
    </nav>
  </div>
</header>